body {
    background-color: rgb(237, 233, 227)
}

.navbar {
    overflow: hidden;
    position: absolute;
    background-color: rgb(0, 225, 255);
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    z-index: 99;
  }
  
  .image {
    float: left;
  }
  
  .logo {
    height: 1em;
    margin-left: 1em;
  }
  
  .navbar a {
    float: right;
    text-align: center;
    padding: 0.5em;
    margin-right: 8em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1em;
  }
  
  
  .navbar a:hover {
  background-color: rgb(63, 65, 78);
  }

  input[type=submit] {
    display: block;
    background-color: rgb(0, 225, 255);
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 500px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color:rgb(63, 65, 78);
  }
  
  
  .container {
    border-radius: 5px;
    position: relative;
    margin-top: 200px;
    margin-left: 350px;
    margin-right: 350px;
    width: 50%;
    height: 50%;
    text-align: center;
    border: solid rgb(134, 147, 235);
    padding: 20px;
  }
  .container textarea{
    box-sizing: border-box;
    padding: 12px;
    width: 80%;
    resize: none;
    height: 200px;
  }




@media (max-width: 980px)
{
    .navbar {
        overflow: hidden;
        position: fixed;
        background-color: rgb(0, 225, 255);
        opacity: 0.7;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: auto;
        z-index: 99;
    }
    .navbar a {
        float: right;
        text-align: center;
        padding: 1px;
        margin-right: 1em;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 14px;
    }
    input[type=submit] {
        display: inline;
        background-color: rgb(0, 225, 255);
        color: white;
        padding: 1em;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      
      input[type=submit]:hover {
        background-color:rgb(63, 65, 78);
      }
      
      
      .container {
        border-radius: 5px;
        position: relative;
        margin-top: 200px;
        margin-left: 350px;
        margin-right: 350px;
        width: 50%;
        height: 50%;
        text-align: center;
        border: solid rgb(134, 147, 235);
        padding: 20px;
      }
      .container textarea{
        box-sizing: border-box;
        padding: 12px;
        width: 80%;
        resize: none;
        height: 200px;
      }
}
.footer {
    position: fixed;
    overflow: hidden;
    background-color: rgb(0, 225, 255);
    opacity: 0.7;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2rem;
    padding-block-end: 0%;
    z-index: 99;
  }
  
  .footer h6 {
    text-align: center;
    margin-top: 0rem;
    color: white;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

